* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    background: url("https://free4kwallpapers.com/uploads/originals/2015/08/11/black-and-white-wallpaper-music.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transition: 0.8s;
    font-family: "Work Sans", sans-serif;
}